<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../stylesheets/challenger.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="daily_data.html">DAILY DATA</a></li>
                    <li><a href="charts.html">CHARTS AND TABLES</a></li>
                    <li class="auth"><a href="signup.html">SIGN UP</a></li>
                    <li class="auth"><a href="signin.html">SIGN IN</a></li>
                    <li><a href="profile.html">PROFILE</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <p>This is a record keeping application for those under the <abbr  title="Consistent Bible Reading">CBR</abbr> classes. </p>
            </article>
        </main>
        <footer></footer>
    </body>
</html>