<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../stylesheets/challenger.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="" alt="LOGO"></li>
                    <li><a href="index.html">THE CHALLENGER</a></li>
                    <li class="auth"><a href="signup.html">SIGN UP</a></li>
                    <li class="auth"><a href="signin.html">SIGN IN</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <div id="snackbar-success"></div>
                <div id="snackbar-failure"></div>
            </section>

            <section class="daily_data">

                <button type="button" onclick="addMonthForm()">Add New Month Form</button>
                <script type="text/javascript" src="../scripts/challenger.js"></script>

                <form id="month-form" style="display:none;">
                    <input id="fromDate" type="date" name="fromDate">
                    <input id="toDate" type="date" name="toDate">
                    <input type="button" onclick="postMonthForm()" value="Add">
                    <input type="button" onclick="addMonthForm()" value="Cancel">
                </form>

                <h1>Month Forms</h1>
                <ul id="month-lists">
                </ul>
            </section>
            <section class="charts">
                <h1>Charts and Tables</h1>
                <h2>Reading Speeds Chart</h2>
                <article>
                        <canvas id="readingChart"></canvas>
                        <script type="text/javascript" src="../scripts/readingChart.js"></script>
                </article>
                <h2>Faithfulness Table</h2>
                <article class="faithfulness-table">
                    <table >
                        <tr>
                            <th>Day</th>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>10/7</td>
                            <td>11/7</td>
                        </tr>
                        <tr>
                            <th>Percentage</th>
                            <td>4</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td>No</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <th>SMR</th>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <th>Prayer</th>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <th>Data Validity</th>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                    </table>
                </article>
                <h2>Early Riser Chart</h2>
                <article>
                    <canvas id="riserChart"></canvas>
                    <script type="text/javascript" src="../scripts/riserChart.js"></script>
                </article>
            </section>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script type="text/javascript" src="../scripts/snackbar.js"></script>
            <script type="text/javascript" src="../scripts/monthForm.js"></script>
        </main>
        <footer>
            <small>This is a challenger card</small>
        </footer>
    </body>
</html>
