<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../stylesheets/challenger.css">
        <script src="scripts/challenger.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="" alt="LOGO"></li>
                    <li><a href="index.html">THE CHALLENGER</a></li>
                    <li class="auth"><a href="signup.html">SIGN UP</a></li>
                    <li class="auth"><a href="signin.html">SIGN IN</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form>
                <label for="username">Username:</label>
                <input id="username" type="text" name="username">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
                <input type="submit" value="LOG IN">

                <p>Forgot password?</p>

                <p>- OR -</p>
                <ul>
                    <li>LOG IN WITH FACEBOOK</li>
                    <li>LOG IN WITH TWITTER</li>
                    <li>LOG IN WITH GOOGLE</li>
                </ul>

            </form>
        </main>
        <footer>
            <small>This is a challenger card</small>
        </footer>
    </body>
</html>