<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../stylesheets/challenger.css">
        <script src="scripts/challenger.js"></script>
        <style>
         
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="" alt="LOGO"></li>
                    <li><a href="index.html">THE CHALLENGER</a></li>
                    <li class="auth"><a href="signup.html">SIGN UP</a></li>
                    <li class="auth"><a href="signin.html">SIGN IN</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form>
                <label for="firstname">First Name:</label>
                <input id="firstname" type="text" name="firstname">
                <label for="lastname">Last Name:</label>
                <input id="lastname" type="text" name="lastname">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username">
                <label for="email">Email:</label>
                <input id="email" type="email" name="email">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
                <label for="repeat_password">Repeat Password:</label>
                <input id="repeat_password" type="password" name="repeat_password">
                <input type="submit" value="SIGN UP">
            </form>
        </main>
        <footer>
            <small>This is a challenger card</small>
        </footer>
    </body>
</html>